<span>here is your artist</span><table>
    <tr height="500px">
      <mat-list class="artists">
        <h1><b>Top 10 Songs</b></h1>
        <mat-list-item *ngFor="let artist of artists">
            <img [src]="artist.image">
            <div mat-line>{{artist.followers}}</div>
            <div mat-line> {{artist.ArtistName}} </div>
        </mat-list-item>
      </mat-list>
    </tr>
    
  
      
  
  </table>
  <mat-divider></mat-divider>
  