.example-button-row {
    display: table-cell;
    width: 490px;
  }
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  td {
    border: 1px solid #1ED760;
    text-align: center;
    padding: 10px;
    color: #5feb90;
    font-family:cursive;
}

tr {
  /* background-color:rgb(41, 65, 171); */
  background-color:black;
  color: #5feb90;
  font-family:cursive;
}