<table>
  <tr height="500px">
    <mat-list class="songs">
      <h1><b>Top 10 Songs</b></h1>
      <mat-list-item *ngFor="let song of songs">
          <img [src]="song.image">
          <div mat-line>{{song.SongName}}</div>
          <div mat-line> {{song.ArtistName}} </div>
      </mat-list-item>
    </mat-list>
  </tr>
 
</table>
<mat-divider></mat-divider>

