
<form class="example-form" [formGroup]="songRec" (ngSubmit)="onSearch()" >
    <h1 class=form-header>
        Enter a Song
    </h1>
    <br>
    <h4>native html select</h4>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Choose an option</mat-label>
            <mat-select [formControl]="selectedValue" >
                <mat-option  *ngFor="let food of optionArray" [value]="food" >{{food}}</mat-option> 
            </mat-select>
          </mat-form-field> -->

          <mat-form-field appearance="fill">
            <mat-label>Choose an option</mat-label>
            <select matNativeControl required [formControl]="selectedValue">
              <option label="--select something --"></option>
              <option value="Songs">Songs</option>
              <option value="Artists">Artists</option>
              <option value="Users">Users</option>
              <option value="Reviews">Reviews</option>
            </select>
           
          </mat-form-field>
    <br>
    <div *ngIf="chooseSearchObject">
            <mat-form-field class="example-full-width" *ngIf="isSongs">
                <mat-label class="mat-label form-label">Song Title</mat-label>
                <input matInput placeholder="" formControlName="songName" autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" *ngIf="isArtist">
                <mat-label class="mat-label form-label" >Artist's Name</mat-label>
                <input matInput placeholder="" formControlName="artistName" autocomplete="off">
            </mat-form-field>
            <br>
            <!-- <mat-form-field class="example-full-width">
                <mat-label class="mat-label form-label">reviews</mat-label>
                <input matInput placeholder="" formControlName="reviews" autocomplete="off">
            </mat-form-field>
            <br> -->
            <mat-form-field class="example-full-width" *ngIf="isArtist || isSongs">
                <mat-label class="mat-label form-label" >Num Of Folowers</mat-label>
                <input matInput placeholder="" formControlName="numOfFolowers"  autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" *ngIf="isSongs">
                <mat-label class="mat-label form-label">Rate</mat-label>
                <input matInput placeholder="" formControlName="rate" autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" *ngIf="isSongs">
                <mat-label class="mat-label form-label" >Num Of Comments</mat-label>
                <input matInput placeholder="" formControlName="numOfComments" autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" *ngIf="isReviews">
                <mat-label class="mat-label form-label">User Name</mat-label>
                <input matInput placeholder="" formControlName="users" autocomplete="off">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" *ngIf="isReviews">
                <mat-label class="mat-label form-label" >Date Of Comments</mat-label>
                <input matInput placeholder="" formControlName="date" autocomplete="off">
            </mat-form-field>
    </div>
    <br>
    <button type="submit" class="button" mat-button [disabled]="buttonDisabled" name="submit-btn">Search</button>
</form>

<!-- <form [formGroup]="songRec">
    Song Name: <input formControlName="songName"  placeholder="">
    Artis tName: <input formControlName="artistName"  placeholder="">
    <button type="submit">Submit</button> 
  </form>  -->
